@model LLVBog.Models.Blog

@{
    ViewBag.Page = "CreateNew";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Trang cá nhân</h4>
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Banner Ends Here -->

<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">

                        <div class="sidebar-heading">
                            <h2 class=" main-content-heading">đăng bài</h2>
                        </div>
                        <div class="col-lg-12">
                            @Html.LabelFor(m=>m.Title)
                            @Html.TextBoxFor(m => m.Title)                            

                            <textarea name="editor1" id="editor1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2 class="text-title">Tác vụ</h2>
                                </div>
                                <div class="content">
                                    <div class="content-item"><a href="#">Đăng bài</a></div>
                                    <div class="content-item"><a href="Detail">Thông tin tài khoản</a></div>
                                    <div class="content-item"><a href="#">Đổi mật khẩu</a></div>
                                    <div class="content-item"><a href="/Login/Logout">Đăng xuất</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        CKEDITOR.replace("editor1");

        const submitHandler = () => {
            var content = CKEDITOR.instances.editor1.getData();
            var title = document.getElementById("Title").value();
            $.post('/Profile/CreateNew',{
                    Content: content,
                    Title: title
            })
            .done((result) => {
                replaceView(result.view);
            })
            .fail((xhr) => {            
                console.log(xhr.responseText);
                alert("Error has occurred..");
            })
        }
        
</script>
}

