@{
    ViewBag.Title = "Index_Admin";
}
<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Wellcome, Admin
            </div>
            <div class="card-body">
                @if (Session["FullName"] != null)
                {
                    <p>Hello, Admmin @Session["FullName"].ToString()</p>
                    <p>Email: @Session["Email"].ToString()</p>
                    <a href="@Url.Action("Logout","Login")" class="btn btn-warning">Logout</a>
                }
            </div>
        </div>

    </div>
</div>