@model LLVBog.Models.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <title>Đổi lại mật khẩu</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Existing Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">

    <link rel="stylesheet" href="~/Content/Login/styleLogin.css">

    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

</head>
<body>
    <div class="w3layoutscontaineragileits">
        <h2>Tạo lại mật khẩu</h2>
        <label style="color:red">@ViewBag.Message</label>
        @*<form name="fForgotPass" onsubmit="return validateForm()" action="/Login/ResetPass" method="post">*@
        @using (Html.BeginForm("ResetPass", "Login", FormMethod.Post))
        {
            <input id="NewPassword" name="NewPassword" type="password" placeholder="Mật khẩu">
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "message" })
            <input id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="Xác thực mật khẩu"><br />
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "message" })
            @Html.HiddenFor(a => a.ResetCode)
            <div class="aitssendbuttonw3ls">
                <input type="submit" value="Xác nhận">
                <p><a class="w3_play_icon1" href="/Home/Index"> Trở lại trang chủ </a></p>
                <div class="clear"></div>
            </div>
        }
    </div>
    @*<script src="~/Scripts/Login/script_ResetPass.js"></script>*@
</body>

</html>
